{tmpl_if name='registrar_identifier'}

    <p>
        {tmpl_var name='transfer_domain_body_txt'}
        <code>{tmpl_var name='auth_code'}</code>
    </p>

    <div class="clear">
        <div class="right">
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="domainregistration/domainregistration_list.php">{tmpl_var name='page_back_txt'}</button>
        </div>
    </div>

{tmpl_else}

<div class='page-header'>
    <h1><tmpl_var name="list_head_txt"></h1>
  </div>
  
  
    {tmpl_if name='warning_txt'}
        <div class="form-group">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-9">
                <div class="alert alert-warning" style="margin: 0">
                    {tmpl_var name='warning_txt'}
                </div>
            </div>
        </div>
    {/tmpl_if}

    <div class="form-group">
        <label for="domain" class="col-sm-3 control-label">{tmpl_var name='domain_txt'}</label>
        <div class="col-sm-9">
            <input type="text" name="domain" id="domain" value="{tmpl_var name='domain'}" class="form-control">
        </div>
    </div>

    {tmpl_if name='domain_is_taken'}
        <div class="form-group">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-9">
                <div class="alert alert-danger" style="margin: 0">
                    {tmpl_var name='domain_is_taken_txt'}
                </div>
            </div>
        </div>
    {/tmpl_if}

    {tmpl_if name='domain_is_available'}
        <div class="form-group">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-9">
                <div class="alert alert-success" style="margin: 0">
                    {tmpl_var name='domain_is_available_txt'}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">&nbsp;</div>
            <div class="col-sm-9">
                <input type="checkbox" value="1" id="confirm" name="confirm">
                <label for="confirm" style="font-weight: normal; display: inline">
                    {tmpl_var name='confirm_txt'}
                </label>
            </div>

        </div>
    {/tmpl_if}

    <input type="hidden" name="id" value="{tmpl_var name='id'}">
    <input type="hidden" name="_csrf_id" id="_csrf_id" value="{tmpl_var name='_csrf_id'}" size="" maxlength="">
    <input type="hidden" name="_csrf_key" id="_csrf_key" value="{tmpl_var name='_csrf_key'}" size="" maxlength="">

    <div class="clear">
        <div class="right">
            <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_register_txt'}" data-submit-form="pageForm" data-form-action="domainregistration/domainregistration_edit.php">{tmpl_var name='btn_register_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="domainregistration/domainregistration_list.php">{tmpl_var name='btn_cancel_txt'}</button>
        </div>
    </div>

{/tmpl_if}
